<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pets Java Webb</title>
</head>

<body>
	<h2>Formulario de registro</h2>
	<!-- Botones de acciones de las mascotas -->
    <form th:action="@{/registro}" method="post" th:object="${usuario}">
        <label for="nombre">Nombre de usuario:</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}">
        <label for="contrasenia">Contrasenia:</label>
        <input type="password" id="contrasenia" name="contrasenia" th:field="*{contrasenia}">
    
    </form>
   
    <br>

    <button type="submit">Registrarse </button>

    <p>Ya tenes cuenta? <a href="@{/login}"> click aqui </a></p>
</body>

</html>